.textphotoarea {
    display: flex;
    height: 550px;
    text-align: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;  
    z-index: 1;
}

h1 {
    background-color:rgba(0, 0, 0, 0);
}

.typical {
    color: skyblue;
    background-color: rgba(0,0,0,0);
}

