@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}